body{
  background-color: #282c34;
}
.App {
  text-align: center;
  width: 100%;
  height: auto;
  
}

.App-header { 
  /* min-height: 20vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

li {
  list-style-type: none;
}
 a {
  height: 30px;
  display: flex;
  border-radius: 5px;
  border: 1px solid #282c34;
  background: #fff;
  margin-top: 10px;
  color: #da552f;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
}

a:hover{
  background: #da552f;
  color: #fff;
}
img{
  max-Width: 290px;  
  height: 350px;
  border-radius: 2px;
  margin-right: 2px;
}
.product-list, .btncontent {
  max-width: 300px;  
  margin: 20px auto 0;
  padding: 0 20px;
}
.product-list article {
  background: #888989;
  height: 300px;
  border:1px solid #282c34;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}
article p ,strong{
  font-size: 14px;
  color: white;
  margin-top: 1px;
  line-height: 20px;
}
li{
  font-size: 12px;
  color: white;
  margin-top: 2px;
  line-height: 15px;
}
h1 { color: orangered;}
h2 { color: white; margin: 5px 5px 10px;}
/* article { 
  /* animation-name: fade; */
  /* animation-duration: 2s; 
}*/
 

@keyframes fade{
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}